# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
    'ctrl-space': 'vim-mode-plus:activate-normal-mode'
    'j': 'vim-mode-plus:move-down-screen'
    'k': 'vim-mode-plus:move-up-screen'
    'ctrl-h': 'vim-mode-plus:move-to-first-character-of-line'
    'ctrl-l': 'vim-mode-plus:move-to-last-character-of-line'
    'shift-z shift-z': 'core:save'
    'shift-z g': 'git-plus:add-and-commit-and-push'
    'shift-z shift-g': 'git-plus:add-and-commit-and-push'

'atom-text-editor.vim-mode-plus.insert-mode':
    'ctrl-space': 'vim-mode-plus:activate-normal-mode'
